!!!
%html
  %head
    %title= BlogSetting.blog_title
    = stylesheet_link_tag    'huongvinh4me/application', media: 'all'
    = javascript_include_tag 'huongvinh4me/application'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel=>"stylesheet"}
  %body
    #fb-root

    %header.text-center
      %h1= BlogSetting.blog_title

    - if controller_name.eql?('articles') && action_name.eql?('index')
      .header-image
        .outside-container
          .inside-container
            .subtitle.text-center
              %h2= BlogSetting.blog_description
    .container
      = yield

    .clearfix

    %footer
      .container
        .row
          .col-md-4.col-md-offset-1
            %h3 HuongVinh's Blog
          .col-md-4.pull-right
            %h3
              Copyright &copy; 2015
