%header.page-header
  %h2 Edit post
  .back.pull-left
    = link_to "Go Back", v2_admin_articles_path, class: 'btn btn-default btn-custom-default'
.row
  .col-lg-12
    = simple_form_for @about, url: v2_admin_about_path do |f|
      .row
        .col-lg-8
          = f.input :description, label: false, input_html: { class: 'form-control' }
        .col-lg-8
          = f.input :avatar, as: :file
      .row
        .col-lg-8
          = f.submit "Publish", class: 'btn article-submit-button'
