!!!
%html.fixed.js.flexbox.flexboxlegacy.csstransforms.csstransforms3d.no-overflowscrolling.no-mobile-device.custom-scroll.sidebar-left-xs
  %head
    %title= BlogSetting.blog_title + " Admin"
    = stylesheet_link_tag    'v2_0/application'
    = javascript_include_tag 'v2_0/application'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    %link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    %link(href="//cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.4/javascripts/jquery.nanoscroller.js")
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.4/javascripts/jquery.nanoscroller.min.js"}

  %body.admin
    %section.body
      %header.header
        = render partial: 'shared/v2_0_admin/header'

      .inner-wrapper
        %aside#sidebar-left.sidebar-left
          = render partial: 'shared/v2_0_admin/sidebar_left'
        %section.content-body
          = yield
