!!!
%html.fixed.html.sidebar-left-xs
  %head
    %title= BlogSetting.blog_title + " Admin"
    = stylesheet_link_tag    'v2_0/application'
    = javascript_include_tag 'v2_0/application'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    %link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
  %body.admin
    %section.body
      %header.header
        = render partial: 'shared/v2_0_admin/header'

      .inner-wrapper
        %aside#sidebar-left.sidebar-left
          .sidebar-header
            .sidebar-title
              Admin Panel Tenluaweb
            .nano.has-scrollbar
              .nano-content
                %nav.menu.nav-main(role = "navigation")
                  %ul.nav.nav-main
                    %li
                      = link_to v2_admin_root_path do
                        = fa_icon 'home'
                        %span Dash Board

        %section.content-body
          %header.page-header
            %h2 Page
            .right-wrapper.pull-right
          .row
            .col-lg-12
              Test
