!!!
%html
  %head
    %title= BlogSetting.blog_title
    = stylesheet_link_tag    'v2_0/application'
    = javascript_include_tag 'v2_0/application'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    = render "shared/metatag"
  %body
    #fb-root
    %header
      = render '/shared/header'
    .body-container
      .slogan
        %h1= BlogSetting.blog_description
      %nav
        = render 'shared/nav'
      = yield
:javascript
  jQuery(function() { jQuery('body').hide().show(); });
