!!!
%html
  %head
    %title= BlogSetting.blog_title
    = stylesheet_link_tag    'confession/application'
    = javascript_include_tag 'confession/application'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    = render "shared/metatag"
  %body
    #fb-root
    .header
      = render '/shared/header'
    .container
      = yield
