.article-container
  = link_to article_path(article.slug), "data-no-turbolink" => '' do
    .feature-image
      = image_tag article.feature_image
  .post-time
    = format_date(article.created_at)
  .title{'data-no-turbolink' => ''}
    = link_to article.title, article_path(article.slug)
  .short-content
    = article.short_content
