= content_for :article_show do
  %meta{property: 'og:title', content: @article.title}
  %meta{property: 'og:description', content: @article.short_content}
  %meta{property: 'og:url', content: article_url(@article)}
  %meta{property: 'og:image', content: @article.feature_image.url}
.article-container{id: ['article', action_name]}
  .left-content
    .title
      %h1= @article.title
    .content
      = @article.content.html_safe
    .share-social
      .share-button
    .related-post
      %h2
        You may also like
      %ul
        - @article.related_articles.each do |related_article|
          %li{'data-no-turbolink' => ''}= link_to related_article.title, related_article
    .facebook-comment
      .fb-comments{data: { href: article_url(@article.slug), numposts: "5", colorscheme: "light" }}
  .right-content
    = render 'shared/subscriber_box'

  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1505889032957471&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'))
