%header.page-header
  %h2 Post
  .new-post.pull-left
    = link_to "Add new Post", new_v2_admin_article_path, class: 'btn btn-custom'
  .right-wrapper.pull-right
.row
  .col-lg-12
    .alert-pane
      = render partial: 'shared/v2_0_admin/alert', locals: { flash: flash }
    .paginate
      %span
        %strong Page:
      = paginate @articles
    %table#articles.table.table-hover.mb-none
      %thead
        %tr
          %th= check_box_tag :all
          %th Title
          %th Category
          %th Published
          %th Post Date
          %th Action
      %tbody
        - @articles.each do |article|
          - decorated_article = ArticleDecorator.decorate(article)
          %tr
            %td= check_box_tag :select_box, nil, false, data: {article_id: article.id}
            %td= link_to article.title, edit_v2_admin_article_path(article)
            %td= article.category_latin
            %td= raw decorated_article.publish_type
            %td= format_date(article.created_at, without_hours: false).html_safe
            %td.actions-hover.action-fade
              = link_to edit_v2_admin_article_path(article) do
                = fa_icon "edit"
              = link_to v2_admin_article_path(article.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'delete-row' do
                = fa_icon "trash-o"
    .paginate
      %span
        %strong Page:
      = paginate @articles
