%header.page-header
  %h2 Page
  .right-wrapper.pull-right
.row
  .col-lg-12
    .paginate
      %span
        %strong Page:
      = paginate @articles
    %table#articles.table.table-hover.mb-none
      %thead
        %tr
          %th= check_box_tag :all
          %th Title
          %th Category
          %th Post Date
          %th Action
      %tbody
        - @articles.each do |article|
          %tr
            %td= check_box_tag :select_box, nil, false, data: {article_id: article.id}
            %td= article.title
            %td= article.category_latin
            %td= format_date(article.created_at, without_hours: false).html_safe
            %td.actions-hover.action-fade
              = link_to "#" do
                = fa_icon "edit"
              = link_to "#" do
                = fa_icon "trash-o"
    .paginate
      %span
        %strong Page:
      = paginate @articles
