!!!
%html
  %head
    %title
      - if action_name.eql?("show")
        = BlogSetting.blog_title + " | "+ @article.title
      - else
        = BlogSetting.blog_title + " blogs"
    = stylesheet_link_tag    'phuongbui/application', media: 'all'
    = javascript_include_tag 'phuongbui/application'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
  %body
    #fb-root
    .container

      %header.text-center
        = link_to root_path do
          %h1= BlogSetting.blog_title

        %h2= BlogSetting.blog_description

      %nav
        .menu-link.text-right
          %h5
            - Category.list.each do |category|
              %span.item= link_to category.name, seo_search_path(category_name: category.sanitize_name)
            = link_to "About", about_path

      %article
        = yield
