.article-wrapper
  .feature-image
    = link_to article_path(article.slug) do
      = image_tag article.feature_image(:medium)
  .title
    = link_to article_path(article.slug) do
      %h3= article.title
  .short-content.text-justify
    = article.short_content
  .post-time
    = fa_icon 'clock-o'
    = format_date(article.created_at, without_hours: true)
