.sidebar-header
  .sidebar-title
    Admin Tenluaweb
.nano.has-scrollbar
  .nano-content
    %nav.menu.nav-main(role = "navigation")
      %ul.nav.nav-main
        %li
          = link_to v2_admin_root_path do
            = fa_icon 'home'
            %span Dash Board

        %li
          = link_to v2_admin_articles_path do
            = fa_icon 'copy'
            %span Post

        %li
          = link_to  v2_admin_categories_path do
            = fa_icon 'tasks'
            %span Category
        %li
          = link_to v2_admin_abouts_path do
            = fa_icon 'user'
            %span About

        %li
          = link_to v2_admin_email_subscribers_path do
            = fa_icon 'users'
            %span Subscriber

        %li
          = link_to  v2_admin_blog_settings_path do
            = fa_icon 'wrench'
            %span Setting
