%ul
  = link_to root_path do
    %li{class: "#{'active' if action_name.eql?('index')}"}>
      = BlogSetting.blog_title
  - @categories.each do |category|
    = link_to category_index_path(encode_url(category)) do
      %li>
        = category
  = link_to aboutme_path do
    %li>
      About me
