.article-wrapper
  .title
    = link_to article_path(article.slug) do
      %h3= article.title
  .short-content
    = article.short_content
  .post-time
    = fa_icon 'clock-o'
    = format_date(article.created_at)
