!!!
%html
  %head
    %title= BlogSetting.blog_title
    = stylesheet_link_tag    'duykhoa/application', media: 'all'
    = javascript_include_tag 'duykhoa/application'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
  %body.container
    #fb-root

    %header.text-center
      = link_to root_path do
        %h1= BlogSetting.blog_title

      %h2= BlogSetting.blog_description

    %nav
      .contact-me-icons.text-right
        %span.small duykhoa12t[at]gmail.com
        = render 'abouts/contact_me'
      .menu-link.text-right
        %h5
          = link_to "Posts", root_path
          |
          = link_to "About", about_path

    %article
      = yield
