.article-container(itemscope itemtype='http://data-vocabulary.org/Product')
  .title(itemprop='name')
    %h2= link_to article.title, article_path(article.slug)
  .feature-image(itemprop='image')
    = image_tag article.feature_image
  .post-time
    %h4= format_date(article.created_at)
  .content(itemprop='description')
    %h5= article.short_content
  .read-more
    = link_to article_path(article.slug) do
      %h6
        Continue Reading
        = fa_icon "angle-double-right"
