= content_for :article_show do
  %meta{property: 'og:title', content: @article.title}
  %meta{property: 'og:description', content: @article.short_content}
  %meta{property: 'og:url', content: article_url(@article)}

.main-content
  .article-wraper
    .article-container
      .title
        = @article.title
      .content
        = @article.content.html_safe
  .right-container
    = render partial: 'email_subscribes/form'

#share-social
.fb-comment-wrapper
  .fb-comments(data-href="#{request.original_url}" data-numposts="5" data-colorscheme="light")

= render partial: 'shared/facebook_comment'
