= content_for :article_show do
  %meta{property: 'og:title', content: @article.title}
  %meta{property: 'og:description', content: @article.short_content}
  %meta{property: 'og:url', content: article_url(@article)}

.main-content
  .article-wraper
    .article-container
      .title
        = @article.title
      .content
        = @article.content.html_safe
  .right-container
    = render partial: 'email_subscribes/form'

  %ul.related-articles
    %h5 Related Posts:
    - @article.related_articles.each do |relate_article|
      %li= link_to relate_article.title, article_path(relate_article.slug)

.fb-like-container
  .fb-like{data: { href: article_url(@article.slug), layout: "standard", action: "like", 'show-faces' => "false", share: "false", send: "false" } }

#share-social
.fb-comment-wrapper
  .fb-comments(data-href="#{request.original_url}" data-numposts="5" data-colorscheme="light")

= render partial: 'shared/facebook_comment'
