%header.page-header
  %h2 Category
  .new-post.pull-left
  .right-wrapper.pull-right
.row
  .col-lg-12
    %section.panel
      .panel-body
        .row
          .col-xs-6
            %h3 Categories list
            %h5
              %i Drag them to order. Click on to edit

        .row#add-new-category
          .col-xs-6
            = link_to "Add new", "#", id: "add-new-category-link"
        .row#add-new-category-form.hidden
          .col-xs-6
            = form_tag "", id: "add-new-category-form-tag" do |f|
              .col-xs-6
                = text_field_tag "New Category", nil, class: "form-control", id: 'new-category-text-field'

              .col-xs-1
                = button_tag type: "submit", class: 'btn' do
                  = fa_icon "check"

              .col-xs-1
                = link_to "#", class: 'btn' do
                  = fa_icon "times"

        .row
          .col-xs-6
            %ul#categories.list-group
              - @categories.each do |category|
                %li(id="#{category.id}" contenteditable="true" class="list-group-item" data-original-name = "#{category.name}")
                  .col-xs-8
                    = category.name
                  .col-xs-1.col-xs-offset-3
                    = link_to "#" do
                      = fa_icon "trash-o"

        .row
          .col-xs-6
            = button_tag "Done Editing", class: 'btn saving-button', id: "category-saving-button"
