!!!
%html
  %head
    %title Phuong Bui | Marketing Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #fb-root
    .header
      = render '/shared/header'
    .navigation-menu
      = render '/shared/navigation_menu'
    = yield
    .footer
      = render 'shared/footer'
