!!!
%html
  %head
    %title= BlogSetting.blog_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/metatag'
  %body
    #fb-root
    .header
      = render '/shared/header'
    .navigation-menu
      = render '/shared/navigation_menu'
    = yield
